* {
  margin: 0;
  padding: 0;
}
body{
  background-color: grey;
}
main{
  height: 97vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#instamagTitle{
  font-family: 'Roboto Mono', monospace;
  color: #fdf4dd;
  margin-top: 0.8%;
  margin-right: 20px;
}
.header{
  width: 100%;
  height: 7vh;
  background-color: grey;
  box-shadow: 0px 5px 50px 25px black;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
#instamagIcon{
  margin-top: 0.2%;
  width: 40px;
  margin-left: 50px;
}
.slideContainer{
  width: 100%;
  height: 100%;
  background-color: grey;
  position: relative;
  diisplay: flex;
  fllex-direction: row;
  overflow: hidden;

}
.album{
  width: 48%;
  height: 45%;
  margin: 2px 2px 2px 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 5px 50px 25px black;
}
#imageLeft, #imageRight, #imageClose {
  opacity: 0;
  position: absolute;
  z-index: 4;
  toop: 90%;
  left: 20%;
  wiidth: 20px;
  cursor: grab;
}
#imageRight{
  left: 53vw;
}
#imageClose{
  left: 49vw;
}
#imageLeft{
  left: 45vw;
}
.slideContainer:hover{
  transform: scale(1.3, 1.3);
  transition-duration: 1s;
  cursor: pointer;
}
.slide{
  width: 100%;
  height: 100%;
  position: absolute;
}
#slide1{
  background-image: url('Images/image1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
#slide2{
  background-image: url('Images/image2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
#slide3{
  background-image: url('Images/image3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
#slide4{
  background-image: url('Images/image4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
#slide5{
  background-image: url('Images/image5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
#slide6{
  background-image: url('Images/image6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
#slide7{
  background-image: url('Images/image7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
#slide8{
  background-image: url('Images/image8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
#slide9{
  background-image: url('Images/image9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
#slide10{
  background-image: url('Images/image10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
#slide11{
  background-image: url('Images/image11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
#slide12{
  background-image: url('Images/image12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
@keyframes animationAlbum1 {

}
